[Desktop Entry]
Encoding=UTF-8
Name=Link to Rohans_Code.ipynb
Type=Link
URL=http://localhost:8888/notebooks/Documents/dss/DSS-county-impact-rep/Rohans_Code.ipynb
Icon=text-html
